p{
   color:green;
   font-size:70px;
   margin-left: 100px;
   margin-right:100px;
   margin-bottom:30px;
   margin-top:30px;
   border:13px solid blue;
 }

div{
  border:10px solid rgb(255, 59, 0);
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.button-color{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
